/*------------------------------------------------------------------
[Table of contents] 
/*  
# overwrite some style of stylus

/*------------------------------------------------------------------
[FontAwesome]
*/

/*------------------------------------------------------------------
[Global]
*/
@import '~vuetify/src/stylus/main.styl'


body
  font-family: $body-font-family
  font-size: $font-size-root
  font-weight: $font-weights.regular
  line-height: $line-height-root
h1
  font-size: 48px
  font-weight: $font-weights.thin
  letter-spacing: -1.5

h2
  font-size: 36px
  font-weight: $font-weights.light
  letter-spacing: -0.5

h3 
  font-size: 24px
  font-weight: $font-weights.light
  letter-spacing: normal

h4 
  font-size: 20px
  font-weight: $font-weights.light
  letter-spacing: normal  
h5 
  font-size: 16px
  font-weight: $font-weights.regular
  letter-spacing: normal  

//-----------------------------------------------------------------


#tableFixHeight .v-table__overflow {
    width: 100% !important;
    overflow-x: auto !important;
    overflow-y: auto !important;
    height: 67vh;
}
#tableFixHeightMonitoring .v-table__overflow {
    width: 100% !important;
    overflow-x: auto !important;
    overflow-y: auto !important;
    height: 73vh;
}

/*------------------------------------------------------------------
[Components List]
*/
.v-list
  .v-list__tile--link:hover,
  .v-list__tile--highlighted,
  .v-list__group__header:hover
  .v-list__group--active:before,
  .v-list__group--active:after
    background: #f5f5f5!important

/*------------------------------------------------------------------
[Components / Card]
*/  
.v-card
  // box-shadow: 0 1px 3px 1px rgba(0,0,0,0.03)
  box-shadow: 0 1px 1px 0 rgba(60,64,67,.08), 0 1px 3px 1px rgba(60,64,67,.16);
  &__actions 
    .v-btn 
      margin: 0 8px;
      min-width: 56px
      &:first-child
        margin-left: 0


/**************СТИЛИ ДЛЯ ТАБЛИЦ***********************/
table.v-table thead td:not(:nth-child(1)), table.v-table tbody td:not(:nth-child(1)), table.v-table thead th:not(:nth-child(1)), table.v-table tbody th:not(:nth-child(1)), table.v-table thead td:first-child, table.v-table tbody td:first-child, table.v-table thead th:first-child, table.v-table tbody th:first-child {
  padding: 0 1% !important;
}
.container {
  padding: 0 15px !important;
}
.v-toolbar__content {
  height: 50px !important;
}
.v-datatable__actions {
  height: 50px !important;
}
.v-datatable__actions__select .v-select{
  margin: 0 0 0 30px !important;
}
thead tr {
  height: 40px !important;
}
/****************************************************/

i.v-icon.fa.fa-square-o.theme--light {
  font-size: 20px;
  margin: 10px;
}

i.v-icon.fa.fa-check-square.theme--light.primary--text {
  font-size: 20px;
  margin: 10px;
}

div.v-input--selection-controls__ripple {
  left: -6px;
  top: calc(50% - 17px);
}
.v-avatar img {
  border-radius: 0px;
}

.inputFile {
  font-size: 18px;
}
.v-chip__content {
  margin: auto;
}
.inputFileContainer {
  width: 95%;
  padding: 3px;
}
.edit-btn {
  height: 100%;
}

.marginAlert {
  margin: 0 32% 0 32%;
}

.width {
  width: 50px;
}

.stepColorRecreate {
  background-color: lightgoldenrodyellow
}
.stepColorRollback {
  background-color: orange
}

.deletedRow {
  background-color: #ffbbbb
}
.notLatest {
  background-color: #ffffDD
}
.successRow {
  background-color: #aaffaa
}